/* ==================== Components =================== */
:root {
  --body-text: #434455;
  --background-color: #ffffff;
  --selection-color: #404bbf;
  --button-list-color: #4d5ae5;
  --button-list-background: #f4f4fd;
  --second-background-color: #2e2f42;
  --border-buttons: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ================== Header ==================== */
.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.site-head {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  gap: 40px;
  align-items: center;
}
.site-nav {
  padding: 24px 0;
  align-items: center;
  margin: auto;
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-list-color);
  margin-right: 76px;
}
.logo-head {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--second-background-color);
  text-transform: uppercase;
}

.address-menu {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.menu {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
  display: flex;
  margin-right: auto;
}
.team-menu {
  display: flex;
  gap: 24px;
}

.menu-title {
  margin-bottom: 8px;
  display: flex;
}

.menu-item {
  background-color: var(--background-color);
  align-items: flex-start;
}
.menu-item-about {
  max-width: 264px;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  padding: 24px 0 24px;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--selection-color);
}
.guys-name {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

/* =============== Contact information ============== */
.email-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
.email-phone:hover,
.email-phone:focus {
  color: var(--selection-color);
}

/* ========================= Main page ========================= */
.hero {
  background: var(--second-background-color);
  padding: 188px 0 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  margin: 0 auto;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 496px;
  margin-bottom: 48px;
  align-items: center;
  justify-content: center;
}
.hiden-title {
  margin-bottom: 8px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background: var(--button-list-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--background-color);
  background-color: var(--selection-color);
}
.about-sections {
  padding: 120px 0 120px;
  display: flex;
  gap: 24;
}
.about-menu {
  gap: 24px;
}
.second-section {
  padding-bottom: 120px;
}
.skills-menu {
  gap: 24px;
}
.skills-item {
  width: calc((100% - 48px) / 3);
  gap: 24px;
}

/* ============== Porfolio ==================== */
.list-container {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-section {
  padding: 96px 0 120px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.menu-buttons {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.list-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--button-list-color);
  background: var(--button-list-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 11px 23px;
  border: 1px solid var(--border-buttons);
}
.list-button:hover,
.list-button:focus {
  color: var(--background-color);
  background: var(--selection-color);
  border: 1px solid transparent;
}

.list-item {
  width: calc((100% - 48px) / 3);
}

.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  text-align: center;
  margin-bottom: 8px;
  display: inline-block;
}
.suptitle-about {
  max-width: 265px;
}
.suptitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-background-color);
  margin-bottom: 72px;
  text-align: center;
}
.team-list {
  background-color: var(--button-list-background);
  padding: 120px 0 120px;
}

/* =================== Footer ================== */
.footer {
  background: var(--second-background-color);
  padding: 100px 0 100px;
}
.footer-suptitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-list-background);
  max-width: 264px;
}
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-list-background);
  margin-left: auto;
  padding: 24px auto;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.portfolio-links {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
